@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-aether-bg text-aether-text antialiased;
    background: radial-gradient(circle at 50% 0%, #1e1b4b 0%, #020617 100%);
  }
}
